/* NotifPanel */
.container {
  margin: 0;
  padding-right: 100px;
  padding-left: 100px;
}

.contentNotif {
  width: 100%;
  height: 75px;
  top: 0;
  position: fixed;
  z-index: 100;
  align-items: center;
}

.height {
  height: 75px;
}

.btnNotif {
  border: 0;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #007bc1;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.textNotif {
  width: 50%;
}

@media only screen and (max-width:720px) {
  /* For tablets: */
  .textNotif {
    width: 80%;
    padding: 0;
  }
  .textNotif {
    width: 100%;
  }
}